# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log



# Misc
.DS_Store
.fleet
.idea
*.resolved

# Local scripts (not for production)
scripts/

# Storage uploads (local files)
storage/uploads/
